<p class="byline brandon">spread the word and get a discounted preorder</p>
<%= form_for @user, :url => { :action => "create" }, html: {class: "new_user_form"} do |f| %>
  <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon " %>
  <input class="submit brandon " name="commit" type="submit" value="Step Inside" />
<% end %>
