<div class="hero">
  <div class="title-wrap">
    <p class="large brandon">STOP BEING SORRY <br> THEY MISSED YOU. </p>
    <p class="small brandon">Leavit is the package lockbox<br>that will make your life 1000% better.</p>
  </div>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
