<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/g_LKy3Bxz3s?controls=0&showinfo=0&rel=0&mute=1&autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="hero">
  <div class="title-wrap">
    <p class="large brandon">STOP BEING SORRY <br> THEY MISSED YOU. </p>
    <p class="small brandon">Leavit is the package lockbox<br>that will make your life 1000% better.</p>
  </div>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
